@model IEnumerable<BusinessObjects.NewsArticle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


@if (Context.Session.GetString("Role") == "Staff" || Context.Session.GetString("Role") == "Admin")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="d-flex justify-content-end mb-2">
        <form asp-action="MyArticles" method="get">
            <button type="submit" class="btn btn-primary">My Article</button>
        </form>
    </div>

    <form asp-action="SearchByDate" method="get">
        <label for="startDate">Từ ngày:</label>
        <input type="date" id="startDate" name="startDate" value="@ViewBag.StartDate" required>

        <label for="endDate">Đến ngày:</label>
        <input type="date" id="endDate" name="endDate" value="@ViewBag.EndDate" required>

        <button type="submit">Tìm kiếm</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.NewsSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.NewsSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryDesciption)
            </td>
            <td>
                @(item.CreatedBy != null ? item.CreatedBy.AccountName : "Unknown")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.NewsArticleId">Details</a> 
            </td>

                @if (Context.Session.GetString("Role") == "Staff" || Context.Session.GetString("Role") == "Admin" )
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.NewsArticleId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.NewsArticleId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.NewsArticleId">Delete</a>
                    </td>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.NewsArticleId">Details</a>
                }
           
        </tr>
}
    </tbody>
</table>
